.contact{
  margin-left: 3rem;
  margin-top: 5rem;
}
.contact h1{
  text-align: center;
}
.contact span{
  color: orange;
}
.contact-flex{
  display: flex;
  margin-top: 3rem;
}
.left-cont img{
  height: 400px;
  width: 400px;
  box-shadow: 0 0px 20px rgba(36,39,37,0.3);
  animation: biani 4.5s linear infinite alternate;
}
@keyframes biani{
  0%{
    border-radius: 48% 52% 57% 43% / 34% 44% 56% 66%;
  }
  25%{
    border-radius: 62% 38% 64% 36% / 34% 55% 45% 66%;
  }
  50%{
    border-radius: 43% 57% 51% 49% / 33% 42% 58% 67%;
  }
  100%{
    border-radius: 40% 60% 43% 57% / 52% 32% 68% 48%;
  }
}
.right-conta{
  margin-left: 30rem;
  position: relative;
  top: -24rem;
  margin-right: 20rem;
  margin-left: 40rem;
}
.right-conta {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.right-conta input{
  padding: 20px 30px;
}
.right-conta button{
  padding: 10px ;
  background: orange;
  border: 1px solid white;
  border-radius: 4px;
}
.right-conta button:hover{
  color: orange;
  background: white;
  border: 1px solid orange;
}